@import url(style.css);
@import url(header4.css);
@import url(footer4.css);
@import url(footer.css);
@import url(bloco.css);

@import url('https://fonts.cdnfonts.com/css/lemon-jelly-personal-use');

.meio{
    margin-left: 18vw;
    margin-right: 18vw;
}

.div_titulo{
    text-align: center;
    font-size: 50px;
    font-family: 'Lemon Jelly Personal Use', sans-serif;
    color: var(--main_color);
}

.img_vinho{
    max-width: 500px;
    width: 50vw;
    border-radius: 20px;
}

.div_img{
    text-align: center;
}

/*página dos contatos*/
.contatos{
    text-align: center;
}

.img_vinho_garrafa{
    width: 50vw;
    max-width: 300px;
}