*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    background-color: rgb(245, 220, 228);
    height: 100%;
}

/*variáveis*/
:root{
    --altura_header: 65px;
    --altura_footer: 60px;
    --main_color: rgb(104, 80, 136);
}


/*principal----------------------------------*/
.meio{
    min-height: calc(100vh - var(--altura_header) - var(--altura_footer));
}



